@model ElibForumMVC.Models.Post.NewPostModel

<h1>Додај нов пост во @Model.ForumName</h1>


<form asp-action="Add-Post" method="post" id="addPostForm">

    <div class="form-group">
        <label asp-for="Title">Наслов</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Content">Содржина</label>
        <textarea asp-for="Content" class="form-control"></textarea>
    </div>
    <button type="submit" id="SubmitPostBtn" class="btn btn-submitPost">Испрати</button>
    <input asp-for=" ForumId" type="hidden" />

</form>